{{ $sidebar := .Site.Data.sidebar }}
{{ $social := .Site.Data.social }}

<section id="sidebar" class="sidebar  p-5">
  <div class="main-info">

    <img src="{{.Site.BaseURL}}images/{{ $sidebar.displayPicture }}" class="rounded-circle mb-3" width="180px">

    <h1 class="heading">{{ $sidebar.title }} 
<!--   
   <span class="highlight">{{ $sidebar.highlightedText }}</span>
-->
    </h1>
    <p class="text-muted">{{ $sidebar.description }}</p>
    <p class="text-muted">{{ $sidebar.subdescription }}</p>
 
    <link rel="stylesheet" href="//cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <div class="author-urls-wrapper">
    <ul class="author-urls social-icons" style="font-size: 26px">
      {{ range $index, $element := $social.social }}
      <li>
        <a itemprop="sameAs" href="{{ $element.link }}" target="_blank" rel="noopener">
           <i class="{{$element.icon_pack }}-{{ $element.icon }}"></i>
          {{ .text }}
        </a>
      </li>
      {{ end }}
      
      <a href="#contact" >   <i class="fas fa-envelope"></i>  </a>
    </ul>  

  </div>
  </div>
</section>